<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksnx3684.boot3.cart.CartMapper">
	<select id="list" parameterType="CartVO" resultType="CartVO">
		SELECT * FROM CART WHERE ID = #{id}
	</select>
	<insert id="add" parameterType="CartVO">
		INSERT INTO CART VALUES(NULL, #{id}, #{productNum}, #{count}, NOW())
	</insert>

</mapper>